@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Mulish&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: 0.2s ease-in-out;
}

/* font-family: 'Mulish', sans-serif; */
body {
  scroll-behavior: smooth;
  font-family: "DM Sans", sans-serif;
}

/* START NAVBAR */

.container {
  width: 100%;
  max-width: 1150px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

.nav-list {
  display: flex;
  align-items: center;
  list-style: none;
}

.nav-item {
  margin-left: 49px;
}

.nav-item:first-of-type {
  margin-left: 0;
}

.nav-link {
  font-size: 15px;
  font-weight: 700;
  line-height: 20px;
  text-decoration: none;
  color: #696871;
}

.nav-link:hover {
  color: #19191b;
}

.nav-link.active {
  color: #19191b;
  padding-bottom: 10px;
  border-bottom: 2px solid #5454d4;
}

.nav-button {
  font-size: 17px;
  font-weight: 700;
  line-height: 22px;
  background-color: #ff7143;
  border-radius: 10px;
  padding: 19px 60px;
  cursor: pointer;
  border: none;
  color: #fff;
}

/* END NAVBAR */

/* START MAIN */

.main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 70px;
  padding-bottom: 100px;
}

.main-texts__title {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 80px;
  line-height: 96%;
  letter-spacing: -2.50105px;
  color: #19191b;
  margin-bottom: 30px;
}

.main-texts__description {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: -0.625263px;
  color: #696871;
  margin-bottom: 50px;
}

.main-button {
  font-size: 17px;
  font-weight: 700;
  line-height: 22px;
  background: #5454d4;
  border-radius: 10px;
  padding: 19px 60px;
  cursor: pointer;
  border: none;
  color: #fff;
}

.main-button-arrow {
  display: flex;
  align-items: center;
  gap: 40px;
}

.main-down-arrow {
  cursor: pointer;
}

.img-content {
}

.main-logoipsum {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 150px;
}

/* END MAIN */

/* START SUBSCRIPTION and METRIX */
.subscription,
.metrix {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 80px;
}

.subscription-texts {
  margin-left: 160px;
}

.metrix-texts {
  margin-left: 0;
  margin-right: 160px;
}

.subscription-texts-title,
.metrix-texts-title {
  margin-bottom: 30px;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 57px;
  /* identical to box height, or 114% */

  letter-spacing: -1.56316px;

  color: #19191b;
}

.subscription-texts-description,
.metrix-texts-description {
  margin-bottom: 30px;
  font-family: "Mulish";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  /* or 150% */

  letter-spacing: -0.625263px;

  color: #696871;
}

.subscription-link,
.metrix-link {
  text-decoration: none;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 22px;
  letter-spacing: -0.531474px;

  color: #5454d4;
}

/* END SUBSCRIPTION and METRIX*/

/* START SERVICES */
.services {
  display: flex;
  text-align: center;
  justify-content: space-between;
  gap: 75px;
  margin-bottom: 150px;
}

.service {
  text-align: center;
}

.service-text {
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  /* identical to box height, or 150% */

  text-align: center;
  letter-spacing: -0.750316px;

  color: #19191b;
}

.service-texts {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* or 150% */

  text-align: center;
  letter-spacing: -0.500211px;

  color: #696871;
}
/* END SERVICES  */
